@using ChilliSource.Cloud.Web.MVC.Misc;
@inject ProjectSettings config

<!DOCTYPE html>
<html>
<head>
    @Html.BlueChilliAsciiMotif()
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Html.GetCurrentMenu().Title | @config.ProjectDisplayName</title>
    @if (config.GoogleAnalytics.Enabled == true)
    {
        @using (await Html.ContainerTemplateAsync(TemplateTypes.GoogleAnalytics))
        {
            @:ga('send', 'pageview');
        }
    }
    <link rel="stylesheet" href="~/bundles/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bundles/stylebundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bundles/stylebundle2.min.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
    @await Html.PartialAsync("~/Views/Shared/Layout/_Icons.cshtml")

</head>
<body class="emailaccount-background">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="background-image" style="margin-top:100px;">
            <a href="@Url.Content("~/")"><img src="@Url.Content("~/Images/Generic/GenericLogo.png?w=350")" /></a>
            @RenderBody()
        </div>
    </div>
    @Html.RenderBundle("~/bundles/scriptbundle.min.js")

    @RenderSection("scripts", required: false)
    @Html.RenderCustomSection("scripts")
    @RenderSection("modal", required: false)

    @await Html.PartialAsync("Layout/_MiniProfiler")
</body>
</html>
