@inject ProjectSettings config;
@model CompanyEditModel
@{
    var breadcrumb = new PageHeaderOptions
    {
        Heading = Model.Id == 0 ? "Create a new Company" : Model.Name,
        Title = Model.Id == 0 ? "Create" : Model.Name,
    };
    var pageButtons = new Template_PageButtons
    {
        CancelMenuUrl = Model.Id == 0 ? Mvc.Admin.Company_List.Url(this.Url) : Mvc.Admin.Company_Detail.Url(this.Url, Model.Id)
    };
}
@using (await Html.ContainerTemplateAsync(TemplateTypes.PageHeader, breadcrumb)) { }
<page>
    @await Html.TemplateAsync(TemplateTypes.PageMessage)
    @using (Html.BeginFormCustom(Mvc.Admin.Company_Edit, htmlAttributes: new { @class = "form-horizontal", enctype = "multipart/form-data", autocomplete = "off" }))
    {
        @Html.ValidationSummary()
        @await Html.TemplateAsync(TemplateTypes.PageButtons, pageButtons)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ApiKey)

        <box>
            <box-title>Company details</box-title>
            <box-content>
                @await Html.FieldTemplateForAsync(m => m.LogoFile, fieldOptions: new FieldImageUploadWithPreviewOptions(Model.LogoPath, new ImageSharpCommand { Width = 150, Height = 50, Mode = ResizeMode.Max }) { ButtonText = "Upload", HasRemoveButton = false, BackgroundSize = "contain" })
                @await Html.FieldTemplateForAsync(m => m.Name)
                @if (config.HasMasterCompany)
                {
                    @using (await Html.FieldTemplateOuterForAsync(m => m.MasterCompanyId, options: new TemplateOptions { FieldSize = FieldTemplateSize.Large }))
                    {
                        <div class="js-group-child @Html.When(Model.IsMasterCompany, "hide")">
                            @await Html.FieldTemplateInnerForAsync(m => m.MasterCompanyId, fieldOptions: new SelectFieldTemplateOptions { SelectList = Model.CompanyList })
                        </div>
                        <div class="js-group-parent @Html.When(Model.MasterCompanyId.HasValue, "hide")">
                            @await Html.FieldTemplateInnerForAsync(m => m.IsMasterCompany)
                        </div>
                    }
                }
                @using (await Html.FieldTemplateOuterForAsync(m => m.StripeId))
                {
                    if (String.IsNullOrEmpty(Model.StripeId))
                    {
                        @await Html.FieldTemplateInnerForAsync(m => m.CreateStripeAccount)
                    }
                    else
                    {
                        @await Html.FieldTemplateInnerForAsync(m => m.StripeId)
                    }
                }
                @await Html.FieldTemplateForAsync(m => m.Website)
                @await Html.FieldTemplateForAsync(m => m.Notes, new TemplateOptions { FieldSize = FieldTemplateSize.ExtraLarge })
                @await Html.FieldTemplateForAsync(m => m.Timezone, fieldOptions: new SelectFieldTemplateOptions() { SelectList = TimezoneHelper.GetSelectTimezones(Model.Timezone) })
            </box-content>
        </box>

    }
</page>
@section scripts
{
    <script>
        $(function () {

            $('#MasterCompanyId').change(function () {
                if ($(this).val() == '') {
                    $('.js-group-parent').removeClass('hide');
                } else {
                    $('.js-group-parent').addClass('hide');
                }
            });

            $('#IsMasterCompany').change(function () {
                if ($(this).is(':checked')) {
                    $('.js-group-child').addClass('hide');
                } else {
                    $('.js-group-child').removeClass('hide');
                }
            });

            $('#Timezone').chosen({
                width: "100%"
            });

        });
    </script>
}