@model EmailViewModel
@{
    Layout = null;
}
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (!String.IsNullOrEmpty(Model.Data.Subject))
            {
                <b>@Model.Data.Subject</b>
            }
            @if (!string.IsNullOrEmpty(Model.Preview()))
            {
                @: - <i>@Html.Raw(Model.Preview())</i>
            }
        </div>
        <div class="panel-body">
            @Html.ValidationSummary()
            @foreach (var attachment in Model.Attachments)
            {
                <p>@attachment.Key <a href="@attachment.Value" target="_blank"><icon type="download"></icon></a></p>
            }
            @if (!String.IsNullOrEmpty(Model.Data.MessageHtml))
            {
                @Html.Raw(Model.Data.MessageHtml.Replace("EmailOpen", "EmailDummyOpen").Replace("EmailRedirect", "EmailRedirectDummy"))
            }
            else
            {
                <p>@Model.Error</p>
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-neutral" data-bs-dismiss="modal">Close</button>
</div>
