@model RazorTemplateDataModel<InviteEditModel>
@inject ProjectSettings config
@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";
    var joining = Model.Data.InviteRole.CompanyName ?? Model.Site;
    Model.Subject = String.Format("You have been invited to join {0}", joining);
    Model.EmailPreview = "Inside are instructions to access your account";

    var data = new UserTokenModel { Email = Model.Data.Email, Token = Model.Data.Token }.ToTokenModel();
    var url = Model.Data.InviteRole.Role.Value.HasFlag(Role.User)
        ? config.ResolveAppUrl("~/users/acceptInvite", data)
        : Mvc.Root.EmailAccount_ConfirmInvite.Url(this.Url, routeValues: data, protocol: "https");

    var forgotPasswordUrl = Model.Data.InviteRole.Role.Value.HasFlag(Role.User)
        ? config.ResolveAppUrl("~/users/forgot-password", new { Email = Model.Data.Email })
        : Mvc.Root.EmailAccount_ForgotPassword.Url(this.Url, routeValues: new { Email = Model.Data.Email }, protocol: "https");

    var builder = EmailBuilder.CreateDefault(this.Html, EmailConstants.EmailOptions);
}

@section Header
{
    @using (builder.BeginHeader())
    {
        @builder.H1(String.Format("You've been invited as a {0} for {1}", Model.Data.InviteRole.Role.Value.GetDescription(), joining))
    }
}
@using (builder.BeginRow(borderType: DefaultEmailBuilder.RowBorderType.None, rowPaddingType: DefaultEmailBuilder.RowPaddingType.Reduced))
{
    using (builder.BeginP())
    {
        if (String.IsNullOrEmpty(Model.Data.Inviter))
        {
            <text>You're receiving this email because you have been invited to @joining.</text>
        }
        else
        {
            <text>You're receiving this email because @Model.Data.Inviter has invited you to @joining.</text>
        }
        @:<br /><br />To set your password and start using @Model.Site click on the button below.
    }
    <br />
    @builder.ButtonTrack(Model.TrackingId, Model.TemplateId, url, "Set password")
    using (builder.BeginP())
    {
        @:For your security, this link expires in 7 days, so if you’ve taken longer than that, click <a target="_blank" href="@forgotPasswordUrl">here</a> to receive a reset password email.
    }
}