@inject ProjectSettings config
@model EmailUnsubscribeModel

@if (Model == null)
{
    <h2 class="mb-10">The email you tried to unsubscribe from was not found</h2>
}
else
{
    var heading = Model.CompanyName == null ? $"Unsubscribe me from {config.ProjectDisplayName} reminders" : $"Unsubscribe me from {Model.CompanyName} referrals to {config.ProjectDisplayName}";
    <h2 class="mb-10">@heading</h2>

    if (TempData.Any(x => ((string)x.Value).FromJson<PageMessage>().MessageClass == "success"))
    {
        @await Html.TemplateAsync(TemplateTypes.PageMessage)

        <a class="btn btn-primary btn-lg mt-10" href="@Mvc.Root.Entry_Index.Url(Url)">Continue</a>
    }
    else
    {
        using (Html.BeginFormCustom(Mvc.Root.EmailAccount_EmailUnsubscribe))
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.Id)
            @await Html.FieldTemplateForAsync(m => m.Recipient, new TemplateOptions { FieldSize = FieldTemplateSize.ExtraLarge })
            @await Html.FieldTemplateForAsync(m => m.Reason, FieldTemplateLayouts.FloatingField)
            <div class="form-group js-reason-other" style="@Html.When(Html.GetModelStateValue(m => m.Reason) != EmailUnsubscribeReason.Other, "display:none")">
                @await Html.FieldTemplateForAsync(m => m.ReasonOther, FieldTemplateLayouts.FloatingField)
            </div>

            <div class="d-grid mb-5">
                <button type="submit" class="btn btn-danger">Unsubscribe</button>
            </div>
        }
        <br />
        <a mvc-action="@Mvc.Root.Entry_Index">Don't want to unsubscribe? Click here</a>
    }
}
@section scripts
    {
    <script>
        $(function () {

            $('#@Html.IdFor(m => m.Reason)').change(function () {
                var other = $('.js-reason-other')
                if ($(this).val() == '@EmailUnsubscribeReason.Other') {
                    other.show();
                } else {
                    other.hide();
                }
            });

        });
    </script>
}