@model SessionEditModel

@inject ProjectSettings config

<h2 class="mb-10">Welcome to @config.ProjectDisplayName</h2>

@using (Html.BeginFormCustom(Mvc.Root.EmailAccount_Login))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.ReturnUrl)

    @await Html.FieldTemplateForAsync(m => m.Email, new TemplateOptions { Template = FieldTemplateLayouts.FloatingField }, new InputFieldTemplateOptions { HtmlAttributes = new { autofocus = "autofocus" } })
    @await Html.FieldTemplateForAsync(m => m.Password, FieldTemplateLayouts.FloatingField)

    <div class="d-grid mb-5">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <a mvc-action="@Mvc.Root.EmailAccount_ForgotPassword">Forgot password?</a>
}
@if(Model.OAuthUrls.Any(x => x.Value != null))
{
    <div class="py-5 text-center">
        <span class="text-xs text-uppercase font-semibold">or</span>
    </div>
    <div class="row g-3">
        <div class="col-sm-6">
            <a href="@Model.OAuthUrls[ChilliCoreTemplate.Models.Api.OAuth.OAuthProvider.Google]" class="btn btn-neutral w-full">
                <span class="icon icon-sm pe-2">
                    <i class="bi bi-google"></i>
                </span>
                <span>Continue with Google</span>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="@Model.OAuthUrls[ChilliCoreTemplate.Models.Api.OAuth.OAuthProvider.Apple]" class="btn btn-neutral w-full">
                <span class="icon icon-sm pe-2">
                    <i class="bi bi-apple"></i>
                </span>
                <span>Continue with Apple</span>
            </a>
        </div>
    </div>
}
<br>
<span>Don't have an account? @Html.ActionLink("Register here", Mvc.Root.EmailAccount_Registration)</span>
