@model RegistrationViewModel
@{
    var termsUrl = "#";
}

<h2 class="mb-10">Account registration</h2>

@using (Html.BeginFormCustom(Mvc.Root.EmailAccount_Registration))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Roles)
    if (Model.Roles.IsCompanyRole())
    {
        @await Html.FieldTemplateForAsync(m => m.CompanyName, new TemplateOptions { Template = FieldTemplateLayouts.FloatingField, IsMandatory = true }, new InputFieldTemplateOptions { HtmlAttributes = new { autofocus = "autofocus" } })
    }
    @await Html.FieldTemplateForAsync(m => m.FirstName, new TemplateOptions { Template = FieldTemplateLayouts.FloatingField }, new InputFieldTemplateOptions { HtmlAttributes = new { autofocus = Model.Roles.IsCompanyRole() ? "" : "autofocus" } })
    @await Html.FieldTemplateForAsync(m => m.LastName, FieldTemplateLayouts.FloatingField)
    @await Html.FieldTemplateForAsync(m => m.Email, FieldTemplateLayouts.FloatingField)
    @await Html.FieldTemplateForAsync(m => m.Password, FieldTemplateLayouts.FloatingField)
    @await Html.FieldTemplateForAsync(m => m.AcceptTermsConditions, new TemplateOptions { Label = "", FieldColumnSize = 12, FieldSize = FieldTemplateSize.ExtraLarge }, new CheckboxFieldTemplateOptions { CheckBoxAttribute = new CheckBoxAttribute { Label = $"I accept the <a href=\"{termsUrl}\" target=\"_blank\">terms & conditions</a>" } })

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Join</button>
    </div>
}
@if (Model.OAuthUrls.Any(x => x.Value != null))
{

    <div class="py-5 text-center">
        <span class="text-xs text-uppercase font-semibold">or</span>
    </div>
    <div class="row g-3">
        <div class="col-sm-6">
            <a href="#" class="btn btn-neutral w-full oauth" data-provider="@Model.OAuthUrls[ChilliCoreTemplate.Models.Api.OAuth.OAuthProvider.Google]">
                <span class="icon icon-sm pe-2">
                    <i class="bi bi-google"></i>
                </span>
                <span>Continue with Google</span>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="#" class="btn btn-neutral w-full oauth" data-provider="@Model.OAuthUrls[ChilliCoreTemplate.Models.Api.OAuth.OAuthProvider.Apple]">
                <span class="icon icon-sm pe-2">
                    <i class="bi bi-apple"></i>
                </span>
                <span>Continue with Apple</span>
            </a>
        </div>
    </div>
}
<br>
<a mvc-action="@Mvc.Root.EmailAccount_Login">Already have an account?</a>
@section scripts
{
    <script>
        $('.oauth').click(function (e) {
            e.preventDefault();
            $.doPost('@Mvc.Root.EmailAccount_RegistrationOAuth.Url(this.Url)', '', { Provider: $(this).data('provider'), CompanyName: $('#CompanyName').val() });
        });
    </script>

}