@model IFieldInnerTemplateModel<CheckboxFieldTemplateOptions>
@{
    var options = Model.Options;
    var isAlternative = options.CheckBoxAttribute != null && options.CheckBoxAttribute.IsAlternative;
}
@if (isAlternative)
{
    <input id="@Model.Id" name="@Model.Name" value="true" @Model.HtmlAttributes.ToAttributeHtmlContent()><input name="@Model.Name" type="hidden" value="false" />
    if (Model.Options.AutoWireUpJavascript)
    {
        @Html.RegisterCustomSection("scripts",
                            @<script>
            $(function () {
                new Switchery($('#@Model.Id')[0], { color: '#1AB394' });
            });
                            </script>)
    }
}
else
{
    <div class="form-check checkbox-lg">
        <input class="form-check-input mt-2" type="checkbox" name="@Model.Name" id="@Model.Id" value="true" @Model.HtmlAttributes.ToAttributeHtmlContent()>
        <label class="form-check-label" for="@Model.Id">@options.CheckBoxAttribute?.Label</label>
    </div>
}