@model IFieldInnerTemplateModel<CheckboxFieldTemplateOptions>
@{
    var options = Model.Options;
    var isAlternative = options.CheckBoxAttribute != null && options.CheckBoxAttribute.IsAlternative;
}
@if (isAlternative)
{
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="@Model.Name" id="@Model.Id" value="true" @Model.HtmlAttributes.ToAttributeHtmlContent()>
        <label class="form-check-label" for="@Model.Id">@options.CheckBoxAttribute?.Label</label>
    </div>
}
else
{
    if (options.IsFloating)
    {
        <div class="checkbox-lg">
            <input class="form-check-input mt-2" type="checkbox" name="@Model.Name" id="@Model.Id" value="true" @Model.HtmlAttributes.ToAttributeHtmlContent()>
            <label class="form-check-label" style="color: gray" for="@Model.Id">@options.CheckBoxAttribute?.Label</label>
        </div>
    }
    else
    {
        <div class="form-check checkbox-lg">
            <input class="form-check-input mt-2" type="checkbox" name="@Model.Name" id="@Model.Id" value="true" @Model.HtmlAttributes.ToAttributeHtmlContent()>
            <label class="form-check-label" for="@Model.Id">@options.CheckBoxAttribute?.Label</label>
        </div>
    }
}