@model IFieldInnerTemplateModel<FieldImageUploadWithPreviewOptions>
@{
    var buttonText = Model.Options.ButtonText;
    var imagePath = Model.Options.ImagePath;
    var command = Model.Options.Command;
    var alternativeImage = Model.Options.AlternativeImage;

    var jsId = Model.Id.ToLower().Replace("_", "-");
    Model.HtmlAttributes.Merge("class", "hide");
    Model.HtmlAttributes.Merge("class", "validate");

    var backgroundUrl = !String.IsNullOrEmpty(imagePath) || !String.IsNullOrEmpty(alternativeImage) ?
                        Html.Resizer().ImageUrl(imagePath, command, alternativeImage: alternativeImage)
                        : "";
}
<div class="js-image-preview-@jsId image-preview" style="width:@(command.Width)px;height:@(command.Height)px;background: @(!String.IsNullOrEmpty(backgroundUrl) ? $"url('{backgroundUrl}')" : "") center center no-repeat;background-size: @Model.Options.BackgroundSize;"></div>
<div class="m-t-sm">
    <label title="@buttonText" for="@Model.Id" class="btn btn-neutral ladda-button" data-style="expand-right" data-spinner-color="gray">
        <input id="@Model.Id" name="@Model.Name" type="file" @Model.HtmlAttributes.ToAttributeHtmlContent() value="">
        <span class="ladda-label">@buttonText</span>
    </label>
    @if (Model.Options.HasRemoveButton && !String.IsNullOrEmpty(imagePath))
    {
        <input id="@(Model.Id)Remove" name="@(Model.Name)Remove" type="hidden" value="@bool.FalseString">
        <button type="button" class="btn btn-neutral js-image-remove-@jsId">@Model.Options.RemoveButtonText</button>
    }
</div>
@if (Model.Options.AutoWireUpJavascript)
{
    @Html.RegisterCustomScripts(
        @<script>
        $(function () {
            $('#@Model.Id').imagePreview('.js-image-preview-@jsId');
            @if (Model.Options.HasRemoveButton)
            {
            @:$('button.js-image-remove-@jsId').click(function () { $('#@(Model.Id)Remove').val('@bool.TrueString'); $('div.js-image-preview-@jsId').css('background-image', 'url(@Url.Content(alternativeImage))'); });
            }
        });
        </script>
    )
}