@model IFieldInnerTemplateModel<RadioFieldTemplateOptions>
@{
    var options = Model.Options.RadioAttribute;
    var isTrue = Convert.ToBoolean(Model.Value);
    var isFalse = !isTrue && Model.Value != null;
    var removeValidations = Model.HtmlAttributes.Keys.Where(k => k.StartsWith("data-val")).ToList();
    foreach (var key in removeValidations)
    {
        Model.HtmlAttributes.Remove(key);
    }
}
<div class="@Html.When(options.Inline, "form-check-inline") form-check checkbox-lg">
    <input class="form-check-input mt-2" type="radio" name="@Model.Name" id="@(Model.Id)_True" value="True" @Html.When(isTrue, "checked=\"checked\"") @Model.HtmlAttributes.ToAttributeHtmlContent()>
    <label class="form-check-label" for="@(Model.Id)_True">@options.TrueText</label>
</div>
<div class="@Html.When(options.Inline, "form-check-inline") form-check checkbox-lg">
    <input class="form-check-input mt-2" type="radio" name="@Model.Name" id="@(Model.Id)_False" value="False" @Html.When(isFalse, "checked=\"checked\"") @Model.HtmlAttributes.ToAttributeHtmlContent()>
    <label class="form-check-label" for="@(Model.Id)_False">@options.FalseText</label>
</div> 