@model IFieldInnerTemplateModel<RadioListFieldTemplateOptions>
@{
    var options = Model.Options.RadioAttribute;
    var removeValidations = Model.HtmlAttributes.Keys.Where(k => k.StartsWith("data-val")).ToList();
    foreach (var key in removeValidations)
    {
        Model.HtmlAttributes.Remove(key);
    }
}
@foreach (var option in Model.Options.SelectList)
{
    if (!String.IsNullOrEmpty(option.Text))
    {
        <div class="@Html.When(options.Inline, "form-check-inline") form-check">
            <input class="form-check-input" type="radio" name="@Model.Name" id="@(Model.Id)_@option.Value" value="@option.Value" @Html.When(option.Selected, "checked=\"checked\"") @Model.HtmlAttributes.ToAttributeHtmlContent()>
            <label class="form-check-label" for="@(Model.Id)_@option.Value">@option.Text</label>
        </div>
    }
}