@model FieldTemplateModel
<div class="form-group row">
    <label class="col-md-3 col-form-label @Html.When(Model.IsMandatory, "mandatory")">@Model.DisplayName @if(!String.IsNullOrEmpty(Model.HelpText)) { <br/><small>@Html.Raw(Model.HelpText)</small>   }</label>
    <div class="col-md-@Model.FieldColumnSize.GetValueOrDefault(9)">
        <div class="row">
            <div class="@FieldTemplateModel.GetFieldSize(Model.FieldSize.GetValueOrDefault(FieldTemplateSize.Large))">
                @FieldTemplateModel.InnerTemplateMarker
                @if (!String.IsNullOrEmpty(Model.ModelName)) { <div>@Html.ValidationMessage(Model.ModelName)</div> }        
            </div>
        </div>
    </div>
</div>