@model FieldTemplateModel

<div class="mb-3">
    <label for="@Model.ModelId" class="form-label @Html.When(Model.IsMandatory, "mandatory")">@Model.DisplayName</label>
    @FieldTemplateModel.InnerTemplateMarker
    @if (!String.IsNullOrEmpty(Model.ModelName))
    {
        @Html.ValidationMessage(Model.ModelName)
    }
</div>